// Custom spacing classes

.m-10px {
    margin: 10px;
}

.mt-40px {
    margin-top: 40px;
}

.mt-80px {
    margin-top: 80px;
}

.my-15px {
    margin: 15px 0;
}

.my-60px {
    margin: 60px 0;
}

.my-100px {
    margin: 100px 0;
}

.mb-30px {
    margin-bottom: 30px;
}

.mb-50px {
    margin-bottom: 50px;
}

.mb-100px {
    margin-bottom: 100px;
}

.ml-100px {
    margin-left: 100px;
}

.py-200px {
    padding: 200px 0;
}

.px-50px {
    padding: 0 50px;
}

// Styling

body {
    font-family: 'Lato';
}

header {
    padding: 25px 0;
    transition: 0.5s !important;
}

header.change {
    padding: 0;
    background: #007bff !important;
}

header.change span {
    color: white !important;
}

header.change .active .nav-link {
    color: white !important;
}

// header.change img {
//     opacity: 1.5 !important;
// }

header.vanish {
    transform: translateY(-100+px);
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
}

.nav-link{
    font-size: 20px;
    margin: 15px;
    color: black;
    font-family: 'Roboto Condensed';
}

.nav-link:hover {
    color: #007bff !important;
}

.active .nav-link {
    color: #007bff !important;
}

.site-content {
    background: url("../images/section1-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 1100px;
    width: 100%;
    margin: 0;
}

.site-content {
    .site-title, .site-description {
        font-family: 'Righteous';
    }
    
    .site-title {
        color: #007bff !important;
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 50px;
    }

    .site-description {
        font-size: 25px;
    }
}

// Section 2

.section2-text {
    h1 {
        font-size: 50px;
        font-family: 'Righteous';
        color: #007bff !important;
    }
    
    p {
        font-family: 'Roboto Condensed';
        font-size: 25px;
        margin: 35px 35px;
    }
}

.card-hover {
    transition: all .35s ease-in;
}

.card-hover:hover {
        transform: scale(1.1);
        z-index: 10;
}

// Section 3

.section3 {
    background-image: url('../images/section3-image1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: -500px;
    width: 100%;
    margin: 0;
}

// Section 4 

.section4 i {
    color: #007bff !important;
}

// Media Query

@media (max-width: 991.98px) {
    .ml-100px {
        margin-left: 0;
    }
    .section3 {
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .my-100px {
       margin: 20px 0;
    }
}

// @media (min-width: 1199.98px) {
//     .section5 .my-60px {
//         margin: 0;
//     }
// }

